package {{ package }}.repository;

import {{ package }}.entity.{{ class_name }};
import org.springframework.data.jpa.repository.JpaRepository;
import org.springframework.stereotype.Repository;

@Repository
public interface {{ class_name }}Repository extends JpaRepository<{{ class_name }}, {{ pk_java_type }}> {
}
